$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

$color: #303030;
$color-first: #fff;
$color-second: #555;
$color-third: #9da4bd;
$color-orange: #ff6c00;
$color-header: rgba(157, 164, 189, 0.6);

$bg-color: #fff;
$bg-first: #191c26;
$bg-second: #f7f7f7;
$bg-gradient: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
